html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, Noto Sans KR, sans-serif;
}
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  display: flex !important;
  gap: 8px !important;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected,
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  display: flex !important;
  gap: 8px !important;
}
